/vendor
/node_modules
/dist
/public/build
/public/hot
npm-debug.log
yarn-error.log
.DS_Store
desktop.ini
Thumbs.db
.idea/
.vscode/
/.fleet
/.zed
.env
.env.*
*.env
*.key
.env.backup
.env.production
auth.json
/public/storage
/storage
/storage/*.key
/storage/pail
.phpunit.cache
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
venv/
/python_services
